body {
  padding: 20px;
}

.msg-list {
  padding: 10px;
  margin-bottom: 20px;
  width: 90%;
  height: 300px;
  overflow-y: auto;
  border: 1px solid black;
}

.new-name {
  padding: 5px;
  width: 300px;
  margin-right: 10px;
  margin-bottom: 20px;
  background-color: rgb(252, 182, 182);
}

.new-msg {
  padding: 5px;
  width: 300px;
  margin-right: 10px;
}
